<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Добавить новую книгу</h2>
<form action="/saveBook" method="post" th:action="@{/saveBook}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <label for="title">Название</label>
    <input type="text" id="title" name="title" th:value="${book.title}">
    <label for="publisher">Издательство</label>
    <input type="text" id="publisher" name="publisher" th:value="${book.publisher}">
    <label for="studentName">ФИО Студента</label>
    <input type="text" id="studentName" name="studentName" th:value="${book.studentName}">
    <label for="issueDate">Дата выдачи</label>
    <input type="date" id="issueDate" name="issueDate" th:value="${book.issueDate}">
    <button type="submit">Сохранить</button>
</form>
</body>
</html>
